NODE_ENV=development
PORT=4000
DATABASE_URL=mongodb+srv://USER:PASSWORD@HOST/edeh-portfolioDB?appName=edeh-portfolioDB
REDIS_URL=redis://redis:6379
JWT_SECRET=your-jwt-secret-key-change-in-production
JWT_REFRESH_SECRET=your-jwt-refresh-secret-change-in-production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=noreply@portfolio.com
ADMIN_EMAIL=your_email
ADMIN_PASSWORD=change-this-admin-password
CORS_ORIGIN=http://localhost:3000,http://localhost:3001
BCRYPT_SALT_ROUNDS=12
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_ENDPOINT=
R2_PUBLIC_URL=
R2_REGION=auto
